<nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm">
    <div class="container-fluid">

        <a class="navbar-brand fw-bold" href="/dashboard">
            AutoPrtz
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainNavbar">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">
                        Dashboard
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/orders">
                        Orders
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/place-order">
                        + New Order
                    </a>
                </li>

            </ul>

        </div>

    </div>
</nav>